{% extends "base.html"%}
{% block content%}
<a href="{{ url_for('ingreso')}}">Agregar</a>
  <table class="table table-striped"> 
    <thead> 
      <tr> 
        <th>ID</th> 
        <th>Nombre del rol</th> 
        <th>Codigo del rol</th> 
        <th>Acciones</th> 
      </tr> 
    </thead> 
    <tbody> 
      {% for rol in roles %} 
      <tr> 
        <td>{{ rol['ID_Rol']}}</td> 
        <td >{{ rol['Nombre_Rol']}}</td> 
        <td>{{ rol['Codigo_Rol']}}</td>  
        <td>
          <a href="{{ url_for('edit_rol', ID_Rol=rol['ID_Rol']) }}" class="btn1">Editar</a>
          <form action="{{ url_for('delete_rol',ID_Rol=rol['ID_Rol']) }}" method="post" style="display:inline-block;">
           <button type="submit" class="btnn">Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %} 
    </tbody> 
  </table> 
{% endblock%}





